In [201]:
from pyspark.sql import SparkSession
import requests
import matplotlib.pyplot as plt
import pandas as pd
from pyspark.sql.functions import substring, col, sum, when, lit
import seaborn as sns

ImportError: cannot import name 'substr' from 'pyspark.sql.functions' (C:\Users\swagz\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyspark\sql\functions.py)

In [178]:
#create sparksession entry point to apache spark allows to work with dataframes and transformations
spark = SparkSession.builder.getOrCreate()

#read json into rdd using .rdd
branch_rdd = spark.read.json("CDW_SAPP_BRANCH.JSON").rdd
credit_rdd = spark.read.json("CDW_SAPP_CREDIT.JSON").rdd
customer_rdd = spark.read.json("CDW_SAPP_CUSTMER.JSON").rdd

In [179]:
#map applies given function lambda which applies transformations using row
#row represents every element of the rdd 
branch_transformed_rdd = branch_rdd.map(lambda row: (
    #direct moves, no transformations needed
    int(row["BRANCH_CODE"]),
    str(row["BRANCH_NAME"]),
    str(row["BRANCH_STREET"]),
    str(row["BRANCH_CITY"]),
    str(row["BRANCH_STATE"]),
    
    #takes values from BRANCH_ZIP and if null will set row to 99999
    int(row["BRANCH_ZIP"]) if row["BRANCH_ZIP"] is not None else 99999,
    #transforms BRANCH_PHONE to phone number format
    "(" + row["BRANCH_PHONE"][:3] + ")" + row["BRANCH_PHONE"][3:6] + "-" + row["BRANCH_PHONE"][6:],
))      

#transformed rdd is converted dataframe using .toDF
branch_transformed_df = branch_transformed_rdd.toDF(["BRANCH_CODE", "BRANCH_NAME", "BRANCH_STREET", "BRANCH_CITY", "BRANCH_STATE", "BRANCH_ZIP", "BRANCH_PHONE"])

#output the new dataframe
branch_transformed_df.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+
only showing top 20 rows

In [180]:
credit_transformed_rdd = credit_rdd.map(lambda row: (
    str(row["CREDIT_CARD_NO"]),

    #concatenate year month day into TIMEID YYYYMMDD format using zfill on single digit "MONTH" "DAY"
    str(row["YEAR"]) + str(row["MONTH"]).zfill(2) + str(row["DAY"]).zfill(2),

    #direct move no transformations needed
    int(row["CUST_SSN"]),
    int(row["BRANCH_CODE"]),
    str(row["TRANSACTION_TYPE"]),
    float(row["TRANSACTION_VALUE"]),
    int(row["TRANSACTION_ID"])
))


credit_transformed_df = credit_transformed_rdd.toDF(["CREDIT_CARD_NO", "TIMEID", "CUST_SSN", "BRANCH_CODE", "TRANSACTION_TYPE", "TRANSACTION_VALUE", "TRANSACTION_ID"])

credit_transformed_df.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [181]:
customer_transformed_rdd = customer_rdd.map(lambda row: (
    int(row["SSN"]),
    # .title() makes it title case
    str(row["FIRST_NAME"]).title(),
    # .lower() makes it lower case
    str(row["MIDDLE_NAME"]).lower(),
    str(row["LAST_NAME"]).title(),
    str(row["CREDIT_CARD_NO"]),
    #concatenate STREET_NAME and APT_NO using + operator
    str(row["STREET_NAME"]) + ", " + str(row["APT_NO"]),
    str(row["CUST_CITY"]),
    str(row["CUST_STATE"]),
    str(row["CUST_COUNTRY"]),
    int(row["CUST_ZIP"]),
    #turn into phone number format, this time phone number is 7 digits +XXX to make it 10 to fit the format
    "(" + str(row["CUST_PHONE"])[:3] + ")" + str(row["CUST_PHONE"])[3:6] + "-" + str(row["CUST_PHONE"])[6:] + "XXX",
    str(row["CUST_EMAIL"]),
    row["LAST_UPDATED"]
))

customer_transformed_df = customer_transformed_rdd.toDF(["SSN", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "CREDIT_CARD_NO","FULL_STREET_ADDRESS", "CUST_CITY", "CUST_STATE", "CUST_COUNTRY","CUST_ZIP", "CUST_PHONE", "CUST_EMAIL", "LAST_UPDATED"])

customer_transformed_df.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North...|     Natchez|        MS|United States|   39120|(123)781-8XXX| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  Redwood Drive, 829|Wethersfield|        CT|United States|    6109|(123)893-3XXX| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|     Huntley|        IL|United States|   60142|(124)301-8XXX| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road...|   NewBerlin|        WI|United States|   53151|(124)321-5XXX|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| Madison Street, 301|      ElPaso|        TX|United States|   79930|(124)207-4XXX|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   Colonial Drive, 3|NorthOlmsted|        OH|United States|   44070|(124)257-0XXX|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  Belmont Avenue, 84|      Vienna|        VA|United States|   22180|(123)968-5XXX|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   Oxford Court, 728|      Duarte|        CA|United States|   91010|(123)821-3XXX| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   Forest Street, 81|      Owosso|        MI|United States|   48867|(124)068-9XXX|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   Court Street, 561|        Zion|        IL|United States|   60099|(123)522-2XXX|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  Cypress Court, 622|  Youngstown|        OH|United States|   44512|(124)136-3XXX|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|8th Street West, 924| Summerville|        SC|United States|   29483|(123)622-8XXX| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    East Avenue, 611|      ElPaso|        TX|United States|   79930|(123)816-5XXX|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       Route 44, 680|      Fenton|        MI|United States|   48430|(123)473-0XXX|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   Warren Street, 71|  Grandville|        MI|United States|   49418|(124)211-3XXX|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   Jones Street, 195|    YubaCity|        CA|United States|   95993|(123)988-8XXX| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     New Street, 500|   CapeCoral|        FL|United States|   33904|(124)015-8XXX| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|Division Street, 989|  Brookfield|        WI|United States|   53045|(124)140-8XXX|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   Maple Street, 810|    Richmond|        VA|United States|   23223|(123)839-0XXX|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     Eagle Road, 649| WestChester|        PA|United States|   19380|(123)506-7XXX|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
only showing top 20 rows

In [182]:
#write transformed branch into mysql using jdbc
branch_transformed_df.write.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_BRANCH",
    user="root",
    password="password"
#use overwrite to prevent redundant data
).mode("overwrite").save()

#read the new table from sql
branch_sql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_BRANCH",
    user="root",
    password="password"
#stored contents into branch_sql
).load()

#display sql table contents
branch_sql.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+
only showing top 20 rows

In [183]:
credit_transformed_df.write.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_CREDIT_CARD",
    user="root",
    password="password"
).mode("overwrite").save()

credit_sql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_CREDIT_CARD",
    user="root",
    password="password"
).load()

credit_sql.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [184]:
customer_transformed_df.write.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_CUSTOMER",
    user="root",
    password="password"
).mode("overwrite").save()

customer_sql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost/creditcard_capstone",
    driver="com.mysql.jdbc.Driver",
    dbtable="CDW_SAPP_CUSTOMER",
    user="root",
    password="password"
).load()

customer_sql.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North...|     Natchez|        MS|United States|   39120|(123)781-8XXX| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  Redwood Drive, 829|Wethersfield|        CT|United States|    6109|(123)893-3XXX| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|     Huntley|        IL|United States|   60142|(124)301-8XXX| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road...|   NewBerlin|        WI|United States|   53151|(124)321-5XXX|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| Madison Street, 301|      ElPaso|        TX|United States|   79930|(124)207-4XXX|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   Colonial Drive, 3|NorthOlmsted|        OH|United States|   44070|(124)257-0XXX|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  Belmont Avenue, 84|      Vienna|        VA|United States|   22180|(123)968-5XXX|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   Oxford Court, 728|      Duarte|        CA|United States|   91010|(123)821-3XXX| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   Forest Street, 81|      Owosso|        MI|United States|   48867|(124)068-9XXX|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   Court Street, 561|        Zion|        IL|United States|   60099|(123)522-2XXX|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  Cypress Court, 622|  Youngstown|        OH|United States|   44512|(124)136-3XXX|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|8th Street West, 924| Summerville|        SC|United States|   29483|(123)622-8XXX| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    East Avenue, 611|      ElPaso|        TX|United States|   79930|(123)816-5XXX|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       Route 44, 680|      Fenton|        MI|United States|   48430|(123)473-0XXX|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   Warren Street, 71|  Grandville|        MI|United States|   49418|(124)211-3XXX|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   Jones Street, 195|    YubaCity|        CA|United States|   95993|(123)988-8XXX| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     New Street, 500|   CapeCoral|        FL|United States|   33904|(124)015-8XXX| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|Division Street, 989|  Brookfield|        WI|United States|   53045|(124)140-8XXX|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   Maple Street, 810|    Richmond|        VA|United States|   23223|(123)839-0XXX|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     Eagle Road, 649| WestChester|        PA|United States|   19380|(123)506-7XXX|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+-------------+--------------------+--------------------+
only showing top 20 rows

In [185]:
def transactions_by_zip_month_year(credit_sql, customer_sql):
    while True:
        #user input zipcode then validated
        zip_code = input("Please enter your zip code. ")
       
        if (len(zip_code) == 5 or len(zip_code) == 4) and zip_code.isdigit():
            break
        else:           
            print("Invalid zip code, please enter your zip code.")

    while True:
        #user input month then validated
        month = input("Please enter the month of the transactions in numeric form: ")
        
        if month.isdigit() and 1 <= int(month) <= 12:
            month = month.zfill(2)
            break
        else:
            print("Invalid month. Please enter a number from 1 to 12 matching your desired month.")

    #parse sliced TIMEID for unique years
    unique_years = [str(row.TIMEID)[0:4] for row in credit_sql.select("TIMEID").distinct().collect()]   

    #Validate user input for the year by accepting inputs that match TIMEID slice
    while True:
        year = input("Enter the year of your transactions: ")
        if year in unique_years:
            break
        else:
            print("Invalid input. Please enter the year of the transaction.")

    #inner join credit_sql and credit_sql by common column SSN 
    custcred_df = credit_sql.join(customer_sql, credit_sql.CUST_SSN == customer_sql.SSN, 'inner').orderBy(col("CUST_SSN").desc())

    #goes through crustcred_df matching user inputted zip_code month year against CUST_ZIP column and slices of TIMEID
    transactions = custcred_df.filter(
        (custcred_df.CUST_ZIP == zip_code) &
        (substring(custcred_df.TIMEID, 1, 4) == year) &
        (substring(custcred_df.TIMEID, 5, 2) == month)
    ).withColumn("day", substring(custcred_df.TIMEID, 7, 2)).orderBy(col("day").desc())

   
    if transactions.count() == 0:
        print("That information does not match our records.")
    else:
        transactions.show()

transactions_by_zip_month_year(credit_sql, customer_sql)

Invalid zip code, please enter your 5 digit zip code.
+----------------+--------+---------+-----------+----------------+-----------------+--------------+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+--------------------+--------------------+---+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|day|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+--------------------+--------------------+---+
|4210653349525413|20180728|123455876|         10|         Grocery|            43.64|         21602|123455876|     Bruce|  bridgette|     Hurt|4210653349525413|      Mill Road, 353|   Nanuet|        NY|United States|   10954|(123)479-4XXX|   BHurt@example.com|2018-04-21T12:49:...| 28|
|4210653356896070|20180728|123456963|          2|   Entertainment|            28.83|         16179|123456963|     Elvis|    mariano|Robertson|4210653356896070|    Main Street, 583|   Nanuet|        NY|United States|   10954|(124)091-5XXX|ERobertson@exampl...|2018-04-21T12:49:...| 28|
|4210653384029972|20180726|123455659|        119|            Test|            57.93|         22776|123455659|    Shelly|      mindy|    Quinn|4210653384029972|8th Street South, 87|   Nanuet|        NY|United States|   10954|(123)598-1XXX|  SQuinn@example.com|2018-04-21T12:49:...| 26|
|4210653394768567|20180726|123453500|         24|         Grocery|            57.39|         34452|123453500|    Alison|      madge|    Knapp|4210653394768567| Clinton Street, 772|   Nanuet|        NY|United States|   10954|(124)265-8XXX|  AKnapp@example.com|2018-04-21T12:49:...| 26|
|4210653384029972|20180723|123455659|        170|      Healthcare|            97.57|         22772|123455659|    Shelly|      mindy|    Quinn|4210653384029972|8th Street South, 87|   Nanuet|        NY|United States|   10954|(123)598-1XXX|  SQuinn@example.com|2018-04-21T12:49:...| 23|
|4210653349525413|20180722|123455876|          2|            Test|            92.35|         21614|123455876|     Bruce|  bridgette|     Hurt|4210653349525413|      Mill Road, 353|   Nanuet|        NY|United States|   10954|(123)479-4XXX|   BHurt@example.com|2018-04-21T12:49:...| 22|
|4210653331981053|20180722|123456968|          3|           Bills|            35.43|         16141|123456968|     Katie|      marci|   Snyder|4210653331981053|  Hamilton Road, 920|   Nanuet|        NY|United States|   10954|(123)687-4XXX| KSnyder@example.com|2018-04-21T12:49:...| 22|
|4210653331981053|20180722|123456968|         23|         Grocery|            36.58|         16122|123456968|     Katie|      marci|   Snyder|4210653331981053|  Hamilton Road, 920|   Nanuet|        NY|United States|   10954|(123)687-4XXX| KSnyder@example.com|2018-04-21T12:49:...| 22|
|4210653394768567|20180721|123453500|         43|   Entertainment|            74.26|         34426|123453500|    Alison|      madge|    Knapp|4210653394768567| Clinton Street, 772|   Nanuet|        NY|United States|   10954|(124)265-8XXX|  AKnapp@example.com|2018-04-21T12:49:...| 21|
|4210653356896070|20180720|123456963|        158|   Entertainment|            33.86|         16174|123456963|     Elvis|    mariano|Robertson|4210653356896070|    Main Street, 583|   Nanuet|        NY|United States|   10954|(124)091-5XXX|ERobertson@exampl...|2018-04-21T12:49:...| 20|
|4210653356896070|20180719|123456963|          2|         Grocery|            55.29|         16192|123456963|     Elvis|    mariano|Robertson|4210653356896070|    Main Street, 583|   Nanuet|        NY|United States|   10954|(124)091-5XXX|ERobertson@exampl...|2018-04-21T12:49:...| 19|
|4210653394768567|20180717|123453500|         63|   Entertainment|            73.24|         34443|123453500|    Alison|      madge|    Knapp|4210653394768567| Clinton Street, 772|   Nanuet|        NY|United States|   10954|(124)265-8XXX|  AKnapp@example.com|2018-04-21T12:49:...| 17|
|4210653349525413|20180716|123455876|        180|           Bills|            39.63|         21619|123455876|     Bruce|  bridgette|     Hurt|4210653349525413|      Mill Road, 353|   Nanuet|        NY|United States|   10954|(123)479-4XXX|   BHurt@example.com|2018-04-21T12:49:...| 16|
|4210653361363620|20180715|123451602|        160|   Entertainment|             36.2|         43342|123451602|      Neil|    enrique|   Cherry|4210653361363620|Washington Street...|   Nanuet|        NY|United States|   10954|(124)001-8XXX| NCherry@example.com|2018-04-21T12:49:...| 15|
|4210653394768567|20180709|123453500|        170|       Education|            98.92|         34465|123453500|    Alison|      madge|    Knapp|4210653394768567| Clinton Street, 772|   Nanuet|        NY|United States|   10954|(124)265-8XXX|  AKnapp@example.com|2018-04-21T12:49:...| 09|
|4210653361363620|20180708|123451602|        115|      Healthcare|            32.92|         43338|123451602|      Neil|    enrique|   Cherry|4210653361363620|Washington Street...|   Nanuet|        NY|United States|   10954|(124)001-8XXX| NCherry@example.com|2018-04-21T12:49:...| 08|
|4210653331981053|20180708|123456968|         49|             Gas|             3.04|         16149|123456968|     Katie|      marci|   Snyder|4210653331981053|  Hamilton Road, 920|   Nanuet|        NY|United States|   10954|(123)687-4XXX| KSnyder@example.com|2018-04-21T12:49:...| 08|
|4210653384029972|20180704|123455659|         90|           Bills|             8.94|         22788|123455659|    Shelly|      mindy|    Quinn|4210653384029972|8th Street South, 87|   Nanuet|        NY|United States|   10954|(123)598-1XXX|  SQuinn@example.com|2018-04-21T12:49:...| 04|
|4210653394768567|20180703|123453500|         46|           Bills|            28.84|         34422|123453500|    Alison|      madge|    Knapp|4210653394768567| Clinton Street, 772|   Nanuet|        NY|United States|   10954|(124)265-8XXX|  AKnapp@example.com|2018-04-21T12:49:...| 03|
|4210653356896070|20180701|123456963|        164|   Entertainment|            39.32|         16211|123456963|     Elvis|    mariano|Robertson|4210653356896070|    Main Street, 583|   Nanuet|        NY|United States|   10954|(124)091-5XXX|ERobertson@exampl...|2018-04-21T12:49:...| 01|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+--------------------+--------------------+---+

In [186]:
def transactions_by_type(credit_sql):
    #retrieve all unique rows of TRANSACTION_TYPE and store it in a list to match against user inputs
    unique_transaction_types = credit_sql.select("TRANSACTION_TYPE").distinct().orderBy("TRANSACTION_TYPE")
    transaction_types_list = [row.TRANSACTION_TYPE.lower() for row in unique_transaction_types.collect()]

    #validates user input against transaction_type list
    while True:
        transaction_type = input("Enter the transaction type: ").lower()
        if transaction_type in transaction_types_list:
            break
        else:
            print("Invalid transaction type. Please enter a valid option.")

    #goes through credit_sql finding every instance users input matches data
    transactions = credit_sql.filter(col("TRANSACTION_TYPE").like(transaction_type))

    if transactions.count() == 0:
        print("No transactions found for the given type.")
    else:
        total_transactions = transactions.count()
        total_value = transactions.select(col("TRANSACTION_VALUE")).groupBy().sum().collect()[0][0]

        print("Number of transactions in " + transaction_type.title() + ": " + str(total_transactions))
        print("Total transaction value in " + transaction_type.title() + ": " + str(total_value))

transactions_by_type(credit_sql)

Number of transactions in Bills: 6861
Total transaction value in Bills: 351405.28000000084

In [187]:
def transactions_by_state(branch_sql):
    #retrieve all unique rows of BRANCH_STATE and store it in a list to match against user inputs
    unique_states = branch_sql.select("BRANCH_STATE").distinct().orderBy("BRANCH_STATE")
    states_list = [row.BRANCH_STATE.lower() for row in unique_states.collect()]
    #validate user input for state
    while True:
        state = input("Enter the state: ").lower()
        if state in states_list:
            break
        else:
            print("Invalid state. Please enter a valid state code.")

    #inner join credit_sql and branch_sql by common column BRANCH_CODE to use matching data
    branchcred_df = credit_sql.join(branch_sql, credit_sql.BRANCH_CODE == branch_sql.BRANCH_CODE, 'inner')
    
    #goes through credit_sql finding every instance users input matches data
    transactions = branchcred_df.filter(branch_sql.BRANCH_STATE == state.upper())

    if transactions.count() == 0:
        print("No transactions found for branches in the given state.")
    else:
        total_transactions = transactions.count()
        total_value = transactions.select(sum("TRANSACTION_VALUE")).collect()[0][0]

        print("Number of transactions for branches in state '" + state.upper() + "': " + str(total_transactions))
        print("Total transaction value for branches in state '" + state.upper() + "': " + str(total_value))

transactions_by_state(branch_sql)

Number of transactions for branches in state 'NY': 4143
Total transaction value for branches in state 'NY': 213717.38000000076

In [188]:
def customer_account_details(customer_sql):
    #asks for user input and validates that the input is 4 digits and a number
    while True:
        ssn = input("Enter the last 4 digits of your SSN: ")
        if ssn.isdigit() and len(ssn) == 4:
            break
        else:
            print("Invalid input. Please enter 4 digits.")

    #filtering by column "SSN" in customer_sql for last 4 digits and matching it to user input
    account_details = customer_sql.filter(customer_sql.SSN.substr(-4, 4) == ssn)

    if account_details.count() == 0:
        print("No account details found for the given SSN.")
    else:
        account_details.show()

customer_account_details(customer_sql)

+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|  Huntley|        IL|United States|   60142|(124)301-8XXX|WDunham@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+

In [189]:
def modify_account_details(customer_sql):

    while True:
        #user input and validation of ssn
        ssn_last_4 = input("Enter the last 4 digits of your SSN (or 'q' to exit at anytime): ")
        if ssn_last_4.lower() == "q":
            return
        elif ssn_last_4.isdigit() and len(ssn_last_4) == 4:
            break
        else:
            print("Invalid input. Please enter the last 4 digits of your SSN.")

    #filtered_customer stores values from each row of the customer with the inputted ssn
    filtered_customer = customer_sql.filter(customer_sql.SSN.substr(-4, 4) == ssn_last_4)

    filtered_customer.show()

    if filtered_customer.count() == 0:
        print("No account found for the provided SSN.")
        return
    #asks user if they want to modify code or exit
    while True:
        choice = input("Do you wish to make any changes? (y/n): ")
        if choice.lower() == "q":
            return
        elif choice.lower() == "n":
            return
        elif choice.lower() == "y":
            break
        else:
            print("Invalid choice. Please enter 'y' to continue or 'n' to exit.")

    account_details_columns = filtered_customer.columns

    #removes ssn and last_updated from options user can modify
    account_details_columns.remove("SSN")
    account_details_columns.remove("LAST_UPDATED")
    #use enumerate to create a numbered list using for loop to iterate through each value of account_detail_column
    for i, account_detail_column in enumerate(account_details_columns, start=1):
        print(str(i) + ". " + account_detail_column)

    #user selects from the enumerated options
    selected_option = input("Select the number corresponding to the account detail you want to modify: ")

    if selected_option.lower() == "q":
        return
    #validates input
    while True:
        if selected_option.isdigit() and 1 <= int(selected_option) <= len(account_details_columns):
            break
        else:
            print("Invalid option. Please enter a valid number.")
            selected_option = input("Select the number corresponding to the account detail you want to modify: ")

    if selected_option.lower() == "q":
            return

    selected_column = account_details_columns[int(selected_option)-1]

    #input modification
    new_value = input("Enter new value for " + selected_column)

    if new_value.lower() == "q":
        return

    #validates that the user is entering a value
    while len(new_value) == 0:
        print("Invalid input. Please enter a value.")
        new_value = input("Enter new value for " + selected_column)

        if new_value.lower() == "q":
            return

    #use lit to replace value in selected column with user input
    filtered_customer = filtered_customer.withColumn(selected_column, lit(new_value))

    #displays updated information and asks user if it is correct
    while True:
        filtered_customer.show()
        confirm = input("Is the information correct? (y/n): ")
        if confirm.lower() == "q":
            return
        elif confirm.lower() == "y":
            break
        elif confirm.lower() == "n":
                return
        else:
            print("Invalid choice. Please enter 'y' to exit, 'n' to start over.")

    for column in account_details_columns:
        if column == selected_column:
            customer_sql = customer_sql.withColumn(column, when(customer_sql.SSN.substr(-4, 4) == ssn_last_4, lit(new_value)).otherwise(customer_sql[column]))

    print("Updated Account Details:")
    customer_sql.filter(customer_sql.SSN.substr(-4, 4) == ssn_last_4).show()

    customer_sql.write.format("jdbc").options(
        url="jdbc:mysql://localhost/creditcard_capstone",
        driver="com.mysql.jdbc.Driver",
        dbtable="CDW_SAPP_CUSTOMER",
        user="root",
        password="password"
    ).mode("overwrite").save()

modify_account_details(customer_sql)

+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|  Huntley|        IL|United States|   60142|(124)301-8XXX|WDunham@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+

1. FIRST_NAME
2. MIDDLE_NAME
3. LAST_NAME
4. CREDIT_CARD_NO
5. FULL_STREET_ADDRESS
6. CUST_CITY
7. CUST_STATE
8. CUST_COUNTRY
9. CUST_ZIP
10. CUST_PHONE
11. CUST_EMAIL
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|123454487|    Wilber|   ezequiel|     john|4210653310116272|12th Street East,...|  Huntley|        IL|United States|   60142|(124)301-8XXX|WDunham@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+

Updated Account Details:
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+
|123454487|    Wilber|   ezequiel|     john|4210653310116272|12th Street East,...|  Huntley|        IL|United States|   60142|(124)301-8XXX|WDunham@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------+-------------------+--------------------+

In [199]:
def calculate_transaction_sums(credit_sql):
    while True:
        ssn_last_4 = input("Enter the last 4 digits of your SSN (or 'q' to exit): ")
        if ssn_last_4.lower() == "q":
            return
        elif ssn_last_4.isdigit() and len(ssn_last_4) == 4:
            break
        else:
            print("Invalid input. Please enter the last 4 digits of your SSN.")

    #gets user input and validates it
    while True:
        month = input("Enter the month of your transactions in numeric form (1-12): ")
        if ssn_last_4.lower() == "q":
            return
        elif month.isdigit() and 1 <= int(month) <= 12:
            break
        else:
            print("Invalid input. Please enter a numeric value between 1 and 12.")
     
    #collects unique years
    unique_years = [str(row.TIMEID)[0:4] for row in credit_sql.select("TIMEID").distinct().collect()]  

    while True:
        year = input("Enter the year of your transactions: ")
        if ssn_last_4.lower() == "q":
            return
        elif year in unique_years:
            break
        else:
            print("Invalid input. Please enter a valid year from the available options.")

    #stores riws that match the sliced CUST_SSN and sliced TIMEID
    filtered_transactions = credit_sql.filter(
        (credit_sql.CUST_SSN.substr(-4, 4) == ssn_last_4) &
        (substring(credit_sql.TIMEID, 5, 2).cast("integer") == int(month)) &
        (substring(credit_sql.TIMEID, 1, 4).cast("integer") == int(year))
    )

    #displays information regarding the transactions
    filtered_transactions.select("TRANSACTION_ID", "TRANSACTION_TYPE", "TRANSACTION_VALUE").show()

    #takes sum and .first collects the result
    total_transaction_value = filtered_transactions.agg(sum("TRANSACTION_VALUE")).first()[0]
    
    print("Total Transaction Value:", total_transaction_value)


calculate_transaction_sums(credit_sql)

+--------------+----------------+-----------------+
|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|
+--------------+----------------+-----------------+
|         28701|         Grocery|            43.49|
|         28712|         Grocery|            73.09|
|         28714|           Bills|            12.13|
|         28722|         Grocery|            38.49|
+--------------+----------------+-----------------+

Total Transaction Value: 167.20000000000002

In [200]:
def display_transactions_between_dates(credit_sql):

    #verify ssn
    while True:
        ssn_last_4 = input("Enter the last 4 digits of your SSN: ")
        if len(ssn_last_4) == 4 and ssn_last_4.isdigit():
            break
        print("Invalid input. Please enter the last 4 digits of your SSN.")
    #user input start date and end date
    while True:
        start_day = input("Enter the start day: ")
        start_month = input("Enter the start month: ")
        start_year = input("Enter the start year: ")

        end_day = input("Enter the end day: ")
        end_month = input("Enter the end month: ")
        end_year = input("Enter the end year: ")
    #verifies the values are numbers and correct length and zfill for single digit month and day values
        if (start_day.isdigit() and start_month.isdigit() and start_year.isdigit() and end_day.isdigit() and end_month.isdigit() and end_year.isdigit() and
            len(start_day) <= 2 and len(start_month) <= 2 and len(start_year) == 4 and len(end_day) <= 2 and len(end_month) <= 2 and len(end_year) == 4
        ):
            start_day = start_day.zfill(2)
            start_month = start_month.zfill(2)
            end_day = end_day.zfill(2)
            end_month = end_month.zfill(2)
            break
        print("Invalid input. Please enter valid day, month, and year.")

    #takes the day month and year values and formats it into TIMEID's format through concatenation
    start_date_string = start_year + start_month + start_day
    end_date_string = end_year + end_month + end_day

    #stores rows that match ssn and are within start and end date
    filtered_transactions = credit_sql.filter(
        (credit_sql.CUST_SSN.substr(-4, 4) == ssn_last_4) &
        (credit_sql.TIMEID.substr(1, 8) >= start_date_string) &
        (credit_sql.TIMEID.substr(1, 8) <= end_date_string)
    ).orderBy(col("TIMEID").desc())

    #display relevant columns
    filtered_transactions.select("TIMEID", "TRANSACTION_ID", "TRANSACTION_TYPE", "TRANSACTION_VALUE").show()

display_transactions_between_dates(credit_sql)

+--------+--------------+----------------+-----------------+
|  TIMEID|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|
+--------+--------------+----------------+-----------------+
|20181209|         28723|   Entertainment|            19.47|
|20181204|         28703|           Bills|            29.35|
|20181117|         28708|       Education|             8.04|
|20181114|         28727|           Bills|            74.52|
|20181113|         28731|       Education|            43.63|
|20181111|         28711|           Bills|            96.65|
|20181110|         28700|            Test|            39.54|
|20181028|         28707|             Gas|            18.96|
|20181026|         28705|           Bills|            42.36|
|20181024|         28725|            Test|            58.67|
|20180918|         28698|           Bills|            41.43|
|20180915|         28724|       Education|             3.11|
|20180912|         28730|   Entertainment|           100.12|
|20180904|         28713|             Gas|             6.77|
|20180819|         28710|            Test|              5.3|
|20180805|         28716|             Gas|            41.86|
|20180719|         28717|      Healthcare|            63.84|
|20180711|         28706|   Entertainment|            49.49|
|20180711|         28718|   Entertainment|             94.5|
|20180609|         28720|           Bills|            77.61|
+--------+--------------+----------------+-----------------+
only showing top 20 rows